* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    /* width: 1350px; */
    color: #3A3A3A;
}

/* Navber Section Start */

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    align-items: center;
}

.nav-header {
    padding-left: 120px;
    width: 700;
    font-size: 24px;
}

.nav-menu {
    padding-right: 120px;
}

.nav-menu a,
i {
    width: 600;
    font-size: 16px;
    color: #3A3A3A;
    text-decoration: none;
    padding-left: 34px;
}

/* End navber section */


/* Discribe camera section start */
.camera-discription {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 70px;
}

.articel-section {
    width: 50%;
    padding: 0px 120px;
}

.articel-section h1 {
    font-size: 52px;
    width: 700;
}

.articel-section p {
    font-size: 16px;
    width: 600;
    margin: 16px 0px;
}

button {
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    width: 700;
    border: none;
    border-radius: 41px;
    padding: 13px;
}

.fa-arrow-right-long {
    padding-right: 10px;
    padding-left: 15px;
    color: #fff;
}

.image-section {
    position: relative;
    width: 50%;
}

.image-section img {
    width: 380px;
    height: 380px;
}

/* Discribe camera section end */

/* Design Ecommerce section start */
.companis-main {
    margin-bottom: 100px;
}

hr {
    border: 0;
    height: 1px;
    width: 75%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-left: auto;
    margin-right: auto;
}

.companis-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 50px;
}

.companis {
    padding-left: 36px;
}

/* Design Ecommerce section end */

/* Populer collection section start*/

.populer-section h1 {
    width: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.popular-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.products-discription {
    width: 300px;
    height: 420px;
}

.products-discription img {
    width: 270px;
    height: 220px;
    padding: 16px;
    border-radius: 5px;
}

.products-discription h2 {
    width: 500;
    font-size: 28px;
    color: #18191F;
    padding-left: 14px;
    margin-bottom: 6px;
}

.products-discription h4 {
    width: 400;
    font-size: 24px;
    color: #000000;
    opacity: 87%;
    padding-left: 14px;
    margin-bottom: 5px;
}

.icon-section {
    /* display: flex; */
    padding-left: 14px;
}

.icon {
    color: #FB8200;
    height: 14px;
    width: 14px;
    margin: 0;
    padding: 0;
}

.icon-section span {
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
    width: 700;
    font-size: 14px;
    padding-left: 10px;
}

.products-discription h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 14px;
    color: #787885;
    padding-top: 14px;
    margin-bottom: 16px;
}

.corner {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 85px;
}

.corner a {
    color: #E02C6D;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.corner i {
    color: #E02C6D;
    padding-left: 14px;
}

/* Populer collection section end*/

/* Featured section start  */
.featured {
    display: flex;
    align-items: center;
    margin: 75px;
}

.imagse-section {
    width: 50%;
}

.imagse-section img {
    width: 400px;
    height: 270px;
}

.text-section {
    width: 50%;
}

.text-section h1 {
    font-size: 38px;
    color: #0A0826;
    margin: 15px 0;
}

.text-section p {
    font-size: 16px;
    color: #6C6C6C;
}

.join-btn {
    margin-top: 30px;
    width: 120px;
    border: none;
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    padding: 12px;
}

.text-section i {
    padding-left: 15px;
    color: #fff;
}

/* Featured section end  */

/* Footer section style  */
footer {
    background-color: #0A0826;
    width: 100%;
    margin: 20px 0px;
    padding: 35px 0px;
    text-align: center;
}

footer h1 {
    color: #fff;
    font-size: 24px;
    margin: 15px;
}

footer p {
    font-size: 14px;
    color: #D9DBE1;
    padding-bottom: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons i {
    color: #fff;
}